*.user
*.suo
**/bin
**/obj
_ReSharper*
*.VisualState.xml
TestResult.xml
*TestResults.xml
Log
FxCop.xml
ncover.trend
symbolmodule.xml
unittest_coverage.*
*#
coverage.*
Release
local.config
Debug
*Publish.xml
